/*============COMMON STYLES============*/

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*============/COMMON STYLES============*/

/*============HEADER STYLES============*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts {
  font-style: normal;
}

/*============/HEADER STYLES============*/

/*============HERO SECTION STYLES============*/


/*============/HERO SECTION STYLES============*/

/*============FIRST SECTION STYLES============*/


/*============/FIRST SECTION STYLES============*/

/*============SECOND SECTION STYLES============*/


/*============/SECOND SECTION STYLES============*/

/*============THIRD SECTION STYLES============*/

}
/*============/THIRD SECTION STYLES============*/

/*============FOOTER STYLES============*/

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-logo {
  margin-bottom: 16px;
}

.page-footer {
  background-color: #2e2f42;
}

/*============/FOOTER STYLES============*/
